<!DOCTYPE html>
<html>
<head>
    <title>Dian Tang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>

</head>
<body>

<div class="container jumbotron" id="head" >

    <div class="navbar">
        <div class="navbar-header">
            <p class="navbar-brand" href="">Dian Tang</p>
        </div>
        <div class="nav nav-pills navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>

        </div>
    </div>

    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>

</body>
</html>
