<!DOCTYPE html>
<html>
<head>
    <title>Dian Tang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70837536-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>

<div class="container jumbotron" id="head">

    <div class="navbar">
        <div class="navbar-header">
            <p class="navbar-brand" href="">Dian Tang</p>
        </div>
        <div class="nav nav-pills navbar-right">
            <li><a href="/">Home</a></li>
            <li><a id="toProjects" href="#projects">Projects</a></li>
            <li><a href="http://blog.tangdian.ca">Blog</a></li>

        </div>
    </div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <img id="photo" src="images/photo.png" class="img-circle"/>
        <p>A Software Engineering Student @ UWaterloo</p>

    </div>


        <div class = "col-md-12 col-sm-12 center-align">
            <a href="mailto:d32tang@uwaterloo.ca" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-envelope"></span> Email</a>
            <a href="http://cn.linkedin.com/in/diantang" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-linkedin"></span> LinkedIn</a>
            <a href="http://github.com/dean99dean" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-github"></span> GitHub</a>
            <a href="" class = "waves-effect waves-light btn"><span class = "fa fa-file"></span> Resume</a>
        </div>
    </div>

    </div>
<div class = "container">
    <p class="flow-text">Hi there! <br></br>My name is Dian Tang. I am a <strong>Software Engineering</strong> 1A student at the University of Waterloo. <br></br> I am passionate about programming, especially web development. I am also a music enthusiast, and I like playing the guitar.<br></br>Please checkout my side projects and my blog here!</p>

  </div>

<br></br>


<div class = "container" id="projects">
    <h3 class="center-align">Projects</h3>

    <div class="row">
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/myo2.png">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Myo Rhythm Composer</span>
                    <p>HTML CSS JS Angular Lua</p>
                </div>

                <div class="card-content">
                    <p>A revolutionary and extremely simple way to compose music. Using Myo gesture band, you can record your performance or even improvisation on a score.</p>
                    <strong>  Built in 24 hours during UWaterloo 2015 Fall Engineering Hack. Won the second place!</strong>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/dean99dean/myo_rhythm_composer" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>
                    <a href="https://www.youtube.com/watch?v=TFqUCVmwOqY" target="_blank"><span class = "fa fa-lg fa-youtube-play"></span> Demo</a>
                    <a href="http://devpost.com/software/myo-rhythm-composer-drum-kit-edition" target="_blank"><span class = "fa fa-lg fa-connectdevelop"></span> Devpost</a>
                    <a href="/projects/drum" target="_blank"><span class = "fa fa-lg fa-chrome"></span> Try it out!</a>

                </div>
            </div>


        </div>
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/orbit.jpg">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Calorie Meter</span>
                    <p>C programming</p>
                </div>

                <div class="card-content">
                    <p> This is a SE 101 course project based on Texas Instruments Tiva C Series Launchpad and Orbit Booster pack.
                        We built a calorimeter which has two modes: step mode and stairs mode, which can measure the calories burned when walking and climbing the stairs respectively.</p>
                    <strong>Got full mark for in-class demo.</strong>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/dean99dean/se101" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>

                </div>
            </div>


        </div>
    </div>

</div>

<footer class="page-footer teal darken-1">

    <div class="footer-copyright teal darken-1">
        <div class="container">
            © 2015 Copyright Dian Tang
            <a class="grey-text text-lighten-4 right" href="#!">Made with love.</a>
        </div>
    </div>
</footer>


    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script>
        $("#toProjects").click(function () {
            var href = $(this).attr("href");
            var pos = $(href).offset().top;
            $("html,body").animate({scrollTop: pos}, 1000);
            return false;
        });
    </script>
</body>
</html>
