<!DOCTYPE html>
<html>
<head>
    <title>Dian Tang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">


    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70837536-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body data-spy="scroll" data-target="#navbar-example" id="head">

<div class="container jumbotron" id="jum">

    <div class="navbar navbar-fixed-top" id="navbar-example">
        <div class="navbar-header">
            <p class="navbar-brand" href="" id = "myName">Dian Tang</p>
        </div>
        <div class="nav nav-pills navbar-right" id = "myTabs">
            <li><a id="toHead" href="#head">Home</a></li>
            <li><a id="toProjects" href="#projects">Projects</a></li>


        </div>
    </div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <img id="photo" src="images/photo.png" class="img-circle"/>
        <p>A Software Engineering Student @ UWaterloo</p>

    </div>


        <div class = "col-md-12 col-sm-12 center-align">
            <a href="mailto:me@tangdian.ca" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-envelope"></span> Email</a>
            <a href="http://ca.linkedin.com/in/diantang" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-linkedin"></span> LinkedIn</a>
            <a href="http://github.com/tangdian" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-github"></span> GitHub</a>
            <a href="Resume.pdf" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-file"></span> Resume</a>
            <a href="http://blog.tangdian.ca" class = "waves-effect waves-light btn pink darken-1"><span class = "fa fa-lg fa-bookmark"></span> Blog</a>
        </div>
    </div>

    </div>
<div class = "container">
    <p class="flow-text">Hi there! <br></br>My name is Dian Tang. I am a <strong>Software Engineering</strong> student at the University of Waterloo. <br></br> I am passionate about programming, especially web development. I like to learn the cutting edge technologies to build cool apps that will impact people's real life. I am also a music enthusiast, and I like playing the guitar.<br></br>Please checkout my side projects and my blog here!</p>

  </div>

<br></br>


<div class = "container" id="projects">
    <h3 class="center-align">Projects</h3>

    <div class="row">
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/seat.png">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Seat Reservation for Spring Festival Gala</span>
                    <p>AngularJS,PHP,MySQL,Nginx</p>
                </div>

                <div class="card-content description">
                    <p>Enables 700+ audiences to reserve their seats online.</p>
                    <p>Optimizes seat allocation process for organizer with backend control panel.</p>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/tangdian/chunwan-seat-reservation" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>
                </div>
            </div>
            <br>
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/myo2.png">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Myo Rhythm Composer</span>
                    <p>HTML CSS JS Angular Lua</p>
                </div>

                <div class="card-content description">
                    <p>Using Myo gesture band, you can record your improvisation on a sheet.</p>
                    <strong>Won second place in 2015 Fall EngHack.</strong>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/tangdian/myo_rhythm_composer" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>
                    <a href="https://www.youtube.com/watch?v=TFqUCVmwOqY" target="_blank"><span class = "fa fa-lg fa-youtube-play"></span> Demo</a>
                    <a href="http://devpost.com/software/myo-rhythm-composer-drum-kit-edition" target="_blank"><span class = "fa fa-lg fa-connectdevelop"></span> Devpost</a>
                    <a href="/projects/drum" target="_blank"><span class = "fa fa-lg fa-chrome"></span> Try it out!</a>

                </div>
            </div>





        </div>
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/carpool.png">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">UW CarPool</span>
                    <p>AngularJS,Node.js(Express),<br>MongoDB</p>
                </div>

                <div class="card-content description">
                    <p>Connects riders and drivers for carpooling.</p>
            </div>
                <div class="card-action">
                    <a href="http://www.github.com/tangdian/uwcarpool" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>
                </div>
                </div>
            <br>
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/GUI.png">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Java GUI Apps</span>
                    <p>Java (Swing),<br> Object-Oriented </p>
                </div>

                <div class="card-content description">
                    <p><strong>Flying Chess:</strong> A 2-player local network game enabled by Socket TCP</p>
                    <p><strong>DKP manager:</strong> A guild member evaluation app for World of Warcraft</p>
                    <p><strong>Gobang:</strong> A local multiplayer Gobang game</p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/tangdian/Java-Gui" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>

                </div>
            </div>




        </div>
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/stair.png">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Climb the Stairs</span>
                    <p>Android(MIT App Inventor 2)</p>
                </div>

                <div class="card-content description">
                    <p>Encourages people to exercise by climbing the stairs! </p>
                    <strong >Won 3rd place in 2014 Google China App Inventor National Application Development Contest.</strong>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/tangdian/Climb_the_Stairs" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>
                    <a href="/app/Climb_the_Stairs.apk" target="_blank"><span class = "fa fa-lg fa-android"></span> Try it out!</a>
                </div>
            </div>
            <br>
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/orbit.jpg">

                </div>
                <div class="card-panel teal">
                    <span class="white-text card-title">Calorie Meter</span>
                    <p>C programming</p>
                </div>

                <div class="card-content description">
                    <p > Texas Instruments Tiva C Series Launchpad and Orbit Booster pack.
                         Measure the calories burned when walking and climbing the stairs.</p>
                    <strong>Got full mark for in-class demo.</strong>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/tangdian/se101" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>

                </div>
            </div>


        </div>



        </div>


</div>

<footer class="page-footer teal darken-1">

    <div class="footer-copyright teal darken-1">
        <div class="container">
            © 2016 Copyright Dian Tang
            <a class="grey-text text-lighten-4 right" href="#!">Made with love.</a>
        </div>
    </div>
</footer>


<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script>
        $("#toProjects").click(function () {
            var href = $(this).attr("href");
            var pos = $(href).offset().top;
            $("html,body").animate({scrollTop: pos}, 1000);
            return false;
        });

        $("#toHead").click(function () {
            var href = $(this).attr("href");
            var pos = $(href).offset().top;
            $("html,body").animate({scrollTop: pos}, 1000);
            return false;
        });


    </script>
</body>
</html>
