<!DOCTYPE html>
<html>
<head>
    <title>Dian Tang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>

</head>
<body>

<div class="container jumbotron" id="head" >

    <div class="navbar">
        <div class="navbar-header">
            <p class="navbar-brand" href="">Dian Tang</p>
        </div>
        <div class="nav nav-pills navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="http://blog.tangdian.ca">Blog</a></li>

        </div>
    </div>

    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <img id="photo" src="images/photo.png" class="img-circle"/>
        <p>A Software Engineering Student @ UWaterloo</p>

    </div>
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3 col-sm-12">
            <a href="mailto:d32tang@uwaterloo.ca" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-envelope"></span> Email</a>
            <a href="http://cn.linkedin.com/in/diantang" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-linkedin"></span> LinkedIn</a>
            <a href="http://github.com/dean99dean" class = "waves-effect waves-light btn"><span class = "fa fa-lg fa-github"></span> GitHub</a>
            <a href="" class = "waves-effect waves-light btn"><span class = "fa fa-file"></span> Resume</a>
        </div>
    </div>

    </div>
<div class = "container">
    <p class="flow-text">Hi there! <br></br>My name is Dian Tang. I am a <strong>Software Engineering</strong> 1A student currently at the University of Waterloo. <br></br> I am passionate about programming, especially web development. I am also a music enthusiast, and I like playing the guitar.<br></br>Please checkout my side projects and my blog here!</p>

  </div>


    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>

</body>
</html>
