<!DOCTYPE html>
<html>
<head>
    <title>Dian Tang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='../stylesheets/style.css'/>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/materialize.min.css"  media="screen,projection"/>

</head>
<body>

<div class="container jumbotron" style="background-color:transparent">

    <div class="navbar">
        <div class="navbar-header">
            <p class="navbar-brand" href="">Dian Tang</p>
        </div>
        <div class="nav nav-pills navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="http://blog.tangdian.ca">Blog</a></li>

        </div>
    </div>


</div>

<div class = "container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="../images/myo2.png">

                </div>
                <div class="card-panel teal">
          <span class="white-text card-title">Myo Rhythm Composer</span>
                    <p>HTML CSS JS Angular Lua</p>
                </div>

                <div class="card-content">
                    <p>A revolutionary and extremely simple way to compose music. Using Myo gesture band, you can record your performance or even improvisation on a score.</p>
                    <strong> Won the second place in UWaterloo 2015 Fall Engineering Hack.</strong>
                </div>
                <div class="card-action">
                    <a href="http://www.github.com/dean99dean/myo_rhythm_composer" target="_blank"><span class = "fa fa-lg fa-github"></span> GitHub</a>
                    <a href="https://www.youtube.com/watch?v=TFqUCVmwOqY" target="_blank"><span class = "fa fa-lg fa-youtube-play"></span> Demo</a>
                    <a href="drum" target="_blank"><span class = "fa fa-lg fa-chrome"></span> Try it out!</a>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/materialize.min.js"></script>

</body>
</html>
